{% load bootstrap3 %}
{% load static %}
{% load cloudinary %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Picture Galore - {{title}}</title>
  {% else %}
    <title> Picture Galore </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    {% endblock %}

</head>
<body>
    {% include "navbar.html" %}

    {% block content %} 
     {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> 
      <script>
    
    copyLink =(element) => {
    document.getElementById(element).select();
    document.execCommand("copy");
        }
    </script>
        
        {% bootstrap_javascript %}
        {% endblock %}
</body>
</html>